{{define "layout"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>RestaurantGO | {{.Title}}</title>
        <link href="/src/output.css" rel="stylesheet">
        <link rel="icon" href="/src/assets/restaurantGo.png" type="image/x-icon">
        <script src="/src/app.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </head>
    <body class="bg-stone-50 font-sans">
    <div class="min-h-screen flex flex-col">
        <div class="bg-white text-cyan-500 px-4 border-b-4 border-cyan-700 ">
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <img src="/src/assets/restaurantGo.png" alt="Logo" class="pb-2 h-20 w-20 mr-2">
                    <h1 class="text-3xl font-bold">RestaurantGo</h1>
                </div>
            </div>
        </div>

        <div class="flex-grow">
            {{template "content" .}}
        </div>
    </div>
    <hr class="mt-10">
    <footer class="p-2 bg-white">
        <div class="text-cyan-500 px-4">
            <div class="flex flex-col-reverse gap-2 items-center md:flex-row">
                <div class="flex-1 items-center">
                    <img src="/src/assets/restaurantGo.png" alt="Logo" class="h-12 w-12 md:h-16 md:w-16">
                </div>
                <div class="flex flex-1 justify-center">
                    <p class="text-center">© 2024 RestaurantGo - made with 💙 </p>
                </div>
                <div class="flex flex-1 justify-end">
                    🍴<a href="http://localhost:8097/" class="font-semibold underline text-end">Je suis Restaurateur</a>
                </div>
            </div>
        </div>
    </footer>
    </body>

    </html>
{{end}}
