# Jetbrains IDEs
.idea

# Vim
*.swp
*.swn
*.swo

# MacOS system file
.DS_Store

# Environment variable files
*.env

# PEM files
*.pem

#tmp air file
/node_modules
./backend/tmp
./backend/tmp/*
/go_app/tmp
/tmp
/tmp/*
tmp/
tmp/*
build-errors.log
go_app/main/tmp/*

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binaries compiled by Go
build/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.new
*.old
*.out

# Dependency directories
vendor/

# Redis
*.rdb

# CSS
src/output.css
