{{define "content"}}
    <div class="flex flex-col items-center justify-center h-screen">
        <h1 class="text-3xl font-bold text-red-700">Salut {{if .Content}}
                {{if .Content.Username}}
                    {{.Content.Username}}
                {{end}}
            {{end}} ✌</h1>
        <h1 class="text-6xl font-bold text-indigo-500">Maintenant on est connecté</h1>
        <p class="">Mais il reste à gérer un vrai token etc...</p>
    </div>
{{end}}




