{{define "content"}}
    <div class="flex flex-col items-center justify-center h-screen">
        <h1 class="text-6xl font-bold">Maintenant on est connecté</h1>
        <p class="text-indigo-500">Mais il reste à gérer le token etc...</p>
    </div>
{{end}}




