@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .basic-input {
    @apply border rounded-lg w-full py-2 px-3 focus:border-cyan-400 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-cyan-300;
  }

  .basic-input-number {
    @apply border rounded-lg w-full py-2 px-3 focus:border-cyan-400 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-cyan-300;
  }

  .basic-input-error {
    @apply border rounded-lg w-full py-2 px-3 border-red-500 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-red-300;
  }

  .basic-input-success {
    @apply border rounded-lg w-full py-2 px-3 border-emerald-500 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-emerald-300;
  }

  .restaugo-title-wrapper {
    @apply w-full mt-2 mb-20 px-5
  }

  .restogo-title-xl {
    @apply mt-2 mb-20 font-semibold text-3xl leading-6 text-teal-900
  }

  /* Custom buttons */

  .btn-lg {
    @apply bg-cyan-500 text-white font-bold py-2 px-4 rounded hover:bg-cyan-700
  }

  .btn-reverse-lg {
    @apply bg-stone-100 text-cyan-500 font-bold py-2 px-4 rounded hover:bg-cyan-700 hover:text-stone-50
  }

  .btn-home-primary {
    @apply w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-cyan-700 hover:bg-cyan-900 md:py-4 md:text-lg md:px-10
  }

  .btn-home-secondary {
    @apply w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-cyan-700 bg-cyan-100 hover:bg-cyan-200 md:py-4 md:text-lg md:px-10
  }

  .btn-home-primary {
    @apply w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-cyan-700 hover:bg-cyan-900 md:py-4 md:text-lg md:px-10
  }

  .btn-home-secondary {
    @apply w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-cyan-700 bg-cyan-100 hover:bg-cyan-200 md:py-4 md:text-lg md:px-10
  }
}

/* Pure css */
.toggle__dot {
  top: 2px;
  left: 3.5px;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  left: 5px;
  background-color: #06B6D4;
}

/* Pure css */
.toggle__dot {
  top: 2px;
  left: 3.5px;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  left: 5px;
  background-color: #06B6D4;
}

/* Dashboard */

/*-----------------------------------------------
** Created by - Abeer Ibrahim
** LinkedIn @abalhussaini
-----------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");
body {
  font-family: "Signika Negative", sans-serif;
  font-weight: 300;
}

:root {
  --main-color: #334bcb;
  --secondary-color: #5ccefa;
  --dark-color: #061454;
}


.text-blue {
  color: var(--main-color);
}
.text-dark {
  color: var(--dark-color);
}
.text-secondary {
  color: var(--secondary-color);
}
.border-blue {
  border-bottom: 3px solid var(--main-color);
}

.bg-main-color {
  background-color: var(--main-color);
}
.bg-secondary-color {
  background-color: var(--secondary-color);
}
nav .nav-item {
  transition: all 0.2s ease-in-out;
}
nav .nav-item:hover,
nav .nav-item:focus {
  color: #334bcb;
}
nav .sub-nav-item:hover,
nav .sub-nav-item:focus {
  color: #334bcb;
  border-bottom: 3px solid var(--main-color);
}
.sub-nav-item {
  border-radius: 0;
  transition: all 0.2s ease-in-out;
}

.box-placeholder {
  width: 40px;
  height: 40px;
  margin-right: 2%;
}

.bar-chart {
  padding-top: 40px;
}



.h-line {
  height: 5px;
}

